<div class="sidebar">
    <div class="sidebar-header">
        <h2>Trino Insights</h2>
    </div>
    <ul class="nav-links">
        <li><a href="index.html" data-page="index">Overview</a></li>
        <li><a href="trino_001.html" data-page="trino_001">Trino_001</a></li>
        <li><a href="trino_002.html" data-page="trino_002">Trino_002</a></li>
        <li><a href="#" data-page="trino_003">Trino_003</a></li>
        <li><a href="#" data-page="trino_004">Trino_004</a></li>
    </ul>
    <a href="../index.html" class="home-link">← Back to Home</a>
</div>
